## --- Compilaciones de Tectonic ---
# Carpeta interna de trabajo de Tectonic (si usas -X build)
build/

# Archivo de salida pdf
thesis.pdf
Tesis.pdf

## --- Archivos temporales de editores ---
*.texshop
*~
*.swp
*.bak
.DS_Store
Thumbs.db

## --- Por si ejecutas LaTeX tradicional accidentalmente ---
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.synctex.gz
